/* --------CSS---------*/
/* #definition(style)<caller>+usage*/
/* Apply on all margin and padding 0*/
* {
   margin: 0;
    padding: 0;
  }
/* Transparent navigation*/         
nav {
   width: 100%;
   top: 0;
   background-color: #0007;
   text-align: center;
   padding-top: 20px;
   transition: all 0.6s ease;
   position: fixed;
    }
/*hide nav bar class<called by JS>*/          
nav.hidden {
   transform: translate3d(0,-100%,0);
    }
/*align top and right*/
nav ul{
	float:right;
	margin-top: 10px;
	margin-right: 50px;
}
/* make float left-right instead top to botton*/
nav ul li {
    display: inline-block;
    margin-right: 60px;
          }
/* on hover increase font trans of 1/2 second*/
nav ul li:hover {
	-webkit-transform: scale(1.4);
	transition: 0.5s;
}
/* Text css*/                
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #E9E4E3;
    font-family: Arial, sans-serif;
    font-weight: bold;
            }

/* container for image and text background 1*/          
.content {
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.0);
		}

.content img {
	margin-top: 220px;
	margin-left: 40%;
	padding-bottom: 0px;
}
			
.content h1 {
	text-align: center;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	padding-top: 15%;
	margin-bottom: 10px;
			}
			
.content p {
	text-align: center;
	font-size: 25px;
	letter-spacing: 3px;
	color: #fff;
	font-weight: 150;
	padding-top: 0px;
			}
/* container for background image (no movable)*/
.background{
	height: 900px;
	padding-top: 80px;
	background-image: url("image/wallpaper1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

/* about us section (grey)*/
.sec{
	height: 450px;
	background-color: #524D4D;
}

/* heading one setting +unused+ */
.sec h1 {
	text-align: center;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	padding-top: 5%;
	margin-bottom: 10px;
			}
/* paaragraph settings */		
.sec p {
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 150;
	padding-top: 0px;
	font-family: sans-serif;
			}

/*add aditional content on this section*/
.background2{
	height: 900px;
	padding-top: 80px;
	background-image: url("image/wallpaper3.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

/* to be remove section*/
.randomsec{
	height: 1500px;
	background-color: white;
}